<!DOCTYPE html>
<html lang="en">
<head>
    <title>Chatbot Interface</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Retrieval-Augmented Generation On PDF</h1>
    <div id="chat-container">
        <div id="results">
             <h3 class="h3_middle">Upload a PDF and ask a question about it. It won't answer questions outside the content of the PDF</h3>
        </div>
    </div>
    <div class="upload_input_div">
        <form id="upload-form" class="file-label" enctype="multipart/form-data">
            <input type="file" id="file" name="file" accept=".pdf" required>
            <button type="submit">Upload</button>
        </form>
        <form id="query-form">
            <label for="query">Enter your query:</label>
            <input type="text" id="query" name="query" required>
            <button type="submit">Submit</button>
        </form>
    </div>
    <script>
       document.getElementById('query-form').addEventListener('submit', function(event) {
            event.preventDefault();
            const query = document.getElementById('query').value;
            fetch('/query', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ query: query })
            })
            .then(response => response.json())
            .then(data => {
                const h3_middle = document.querySelector('.h3_middle');
                h3_middle.style.display = 'none';
                const resultsDiv = document.getElementById('results');
                const userMessage = document.createElement('p');
                userMessage.textContent = `You: ${query}`;
                userMessage.style.fontWeight = 'bold';
                const botMessage = document.createElement('p');
                botMessage.textContent = `Bot: ${data.helpful_answer}`;
                resultsDiv.appendChild(userMessage);
                resultsDiv.appendChild(botMessage);
                resultsDiv.scrollTop = resultsDiv.scrollHeight;
            });
        });
        document.getElementById('upload-form').addEventListener('submit', function(event) {
            event.preventDefault();
            const fileInput = document.getElementById('file');
            const formData = new FormData();
            formData.append('file', fileInput.files[0]);
            fetch('/upload', {
                method: 'POST',
                body: formData
            })
            .then(response => response.text())
            .then(data => {
                alert(data);
            });
        });
    </script>
</body>
</html>
